.post-item {
  border: 1px solid #D3D3D3;
  min-height: 165px;
  padding: 0 10px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .post-item-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .post-item-content {
      max-width: 500px;
    }

    .post-item-buttons {
      display: flex;
      flex-direction: column;

      .post-item-delete-button {
        font-size: 16px;
      }

      .post-item-edit-button {
        font-size: 24px;
        margin-bottom: 15px;
      }

      .post-item-delete-button,
      .post-item-edit-button {
        cursor: pointer;
        height: 35px;
        width: 35px;
      }
    }
  }
}