.modal {
  background-color: #ffffff;
  height: 100vh;
  left: 0;
  padding: 80px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .close-modal-button {
    cursor: pointer;
    font-size: 24px;
    margin: 20px;
    position: absolute;
    right: 0;
    top: 0
  }

  .modal-form {
    display: flex;
    flex-direction: column;

    .modal-field {
      font-size: 18px;
      height: 50px;
      margin-bottom: 20px;
      width: 950px;
    }

    .modal-save-button {
      height: 50px;
      width: 450px;
    }
  }
}